* {
-webkit-box-sizing: content-box;
}
body{
	margin:0;
	padding:0;
	background-color: #f7f5f5;
	color:#333;
	overflow-x:hidden;
	min-width: 320px;
	line-height: 1;
}
section, footer, hgroup{
	display:block;
}
a{
	text-decoration:none;
}
a:hover, a:active{
	color:#91DCFF;
}
.fl{float: left;}

.backlinks{
	float:right;
	padding:0 20px;
	line-height:22px;
	font-weight:bold;
	font-size:13px;
}
.backlinks a{
	text-align:right;
	display:block;
}


/* clearfix */
.clearfix {
	clear:both;
}

/* wrapper css */
section{
	
	width:100%;
}
section hgroup{
	
}

#wrapper {
	display: block;
  	position: absolute; z-index: 3; top: 45px; bottom: 0; left: 0;
  	width: 100% ; height: auto;
}


#container{
	overflow: hidden;
	position:relative;
	width:auto;
	margin:0 auto;
	/*padding-bottom: 10px;*/
	
}
.grid{
	width:45%;
	min-height:100px;
	padding: 5px;
	background:#fff;
	margin:4px;
	font-size:12px;
	float:left;
	border-radius: 3px;  -moz-border-radius: 3px; -webkit-border-radius: 3px;
      
	box-shadow: 0 0 3px rgba(34,25,25,0.2);
	-moz-box-shadow: 0 0 3px rgba(34,25,25,0.2);
	-webkit-box-shadow: 0 0 3px rgba(34,25,25,0.2);	
	-webkit-transition: top 1s ease-in-out, left 1s ease-in-out;
	-moz-transition: top 1s ease-in-out, left 1s ease-in-out;
	-o-transition: top 1s ease-in-out, left 1s ease-in-out;
	-ms-transition: top 1s ease-in-out, left 1s ease-in-out;
}
.grid p{ color:#333;}
.grid >div {
	clear: both;
}

.grid strong {
	/*border-bottom:1px solid #F2F2F2;*/
	margin-top: 6px;
	display:block;
	color:#666;
	/*padding:0 0 8px;*/
	font-size:1.1em;
	font-weight: normal;
}
.grid .meta{
	text-align:right;
	color:#ddd;
	font-style:normal;
}
.grid .imgholder img{
	max-width:100%;
	display:block;
}
.headerimg img{
	height: 35px;
	margin: 8px 5px 4px 0;
}
.cont-box{
	margin: 8px 0;
	color: #888;
	width: 55%; 
	font-size: 10px;
	line-height:15px
}
.cont-box b{color: #e3235b;}

.imglits {
	position: absolute;
	right: 5px;
	margin: 5px;
}

.right-time{
	position: absolute;
	right: 5px;
	bottom: 2px;
	font-size: 8px;
}
